/* CSS Document */
    h1 {
            color:red;
    } 
    
    #Section1 {
            background-color:green;
    }
   
    #Section2 {
            background-color:orange;
    }
   
    #Article1 {
            border-style: groove;
            border-color:darkolivegreen;
    }
    
    footer  {
            font-family: "Comic Sans MS", sans-serif;
            font-style: italic;
    }
    
    hr {
            border-style: solid;
    } 